<h2>Top 10</h2>
<% cache top_letters_cache_key do %>
  <ol>
    <% Letter.top_10.each do |letter| %>
      <li>
        <%= letter.name %>
        <small>
          <%= letter.score %>
        </small>

      </li>
    <% end %>
  </ol>
<% end %>